.header {
    display: flex;
    justify-content:space-evenly;
    
    background-color: aqua;
}
.header__logo {
    
}
.header__img {

}
.header__nav {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__item {

}
.header__link {

}